/* Presentación Básica */

.carta-izquierda {                 
    background-color: #012246;
    height: 100vh;
}

.carta-izquierda h2 {
    color: rgba(190, 190, 190, 0.808);
    font-size: 25px;
}

.carta-izquierda h5 {
    color: rgba(190, 190, 190, 0.808);
}

.carta-izquierda h4 {
    color: rgba(0, 0, 0, 0.87);
}

.carta-izquierda h1 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 25px;
}

.imagen {
    border-radius: 150px;
    padding: 20px;
}

.iconos i {
    padding: 10px;
    margin-top: 20px;
    color: black;
    padding: 30px;
    border-radius: 20px;
}

.iconos i:hover {
    color: red;
    border: 2px solid;
    transition: 1s;
}

/* Información Detallada */

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.desarrollo h5 {
    margin-left: 10px;
}

.desarrollo {
    padding-top: 5px;
}

.subtitulos {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.card-container {
    padding-top: 10px;
}

.progress-container h3 {
    font-size: 20px;
}

.progress {
    margin-bottom: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* Responsive */

@media screen and (max-width:1200px) {
    .carta-izquierda h4 {
        font-size: 17px;
    }

}

@media screen and (max-width:992px) {

    .responsive-card {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {

    .imagen {
        height: 150px !important;
        padding: 10px;
    }
    
    .carta-izquierda h1 {
        font-size: 20px;
    }

    .carta-izquierda h2 {
        font-size: 25px;
    }

    .card {
        width: 50vw !important;
    }

}

@media screen and (max-width:576px) {

    .escuelas .col-md-4 {
        margin-bottom: 15px;
    }
}